{% extends "base.html" %}

{% block custom_style %}
<link href="/static/signin.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="column is-4 is-offset-4">
    <main class="form-signin">
        <div class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}<br> Go to <a href="{{ url_for('login') }}">login page</a>.
                    </div>
                {% endif %}
            {% endwith %}

            <form method="POST" action="/signup">
                {{ form.hidden_tag() }}
                <h1 class="h3 mb-3 fw-normal">Registrar nuevo usuario</h1>

                <div class="form-floating">
                    <input type="text" name="name" class="form-control" id="floatingName" placeholder="Your Name" required>
                    <label for="floatingName">Full Name</label>
                </div>

                <div class="form-floating">
                    <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                    <label for="floatingInput">Email address</label>
                </div>

                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required">
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="form-floating">
                    <input type="password" name="confirm_password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password" required>
                    <label for="floatingConfirmPassword">Confirm Password</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit"> Sign Up</button>
            </form>
        </div>
    </main>
</div>

{% endblock %}
